*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Verdana, sans-serif;
    background:#050816;
    color:white;
}

header{
    background:linear-gradient(135deg,#0f3460,#16213e);
    text-align:center;
    padding:40px;
}

header h1{
    color:#ffd700;
    margin-bottom:10px;
}

header p{
    margin-bottom:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd700;
}

main{
    width:90%;
    max-width:1200px;
    margin:30px auto;
}

.card{
    background:#10182f;
    margin-bottom:25px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
}

.card h2{
    color:#66ccff;
    margin-bottom:15px;
}

.card p{
    line-height:1.7;
}

audio,
video,
iframe{
    display:block;
    margin:20px auto;
    max-width:100%;
}

ul{
    margin-left:25px;
    margin-top:15px;
}

li{
    margin-bottom:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

table th{
    background:#1d4ed8;
    color:white;
}

table th,
table td{
    border:1px solid #555;
    padding:12px;
    text-align:center;
}

pre{
    background:#000;
    color:#00ff88;
    padding:15px;
    margin-top:15px;
    border-radius:8px;
    overflow:auto;
}

footer{
    background:#0f172a;
    text-align:center;
    padding:20px;
    margin-top:30px;
}